<div class="flex">


<h2>login </h2>

<form [formGroup]="form">
  <div class="form-group">
    <label >Email address</label>

    <input type="text" id="email" class="form-control"   (change) = "logObj(email)"
           formControlName="email" >
    <div class="alert alert-danger" role="alert"
         *ngIf="email.touched && email.invalid"
    >
      <div  *ngIf="email.errors?.required  || email.value.length == 0">
        please Enter Your Email
      </div>

    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1"  formControlName="password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <a routerLink="/signup"><button type="submit" class="btn btn-secondary">Sign Up</button></a>
</form>

</div>
