<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h1 style="color: #fff;">Angular CRUD</h1>
    <div class="d-flex">
      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Employee</button>
    </div>
  </div>
</nav>

<table class="table mt-3">
  <thead>
      <tr>
        <td>ID</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Email</td>
        <td>Mobile</td>
        <td>Salary</td>
        <td>Action</td>
      </tr>
  </thead>
  <tbody>
      <tr>
        <td>1</td>
        <td>YAsser</td>
        <td>Mahmoud</td>
        <td>yads@sadasd</td>
        <td>00651651</td>
        <td>5000$</td>
        <td>
          <button class="btn btn-info">Edit</button>
          <button class="btn btn-danger mx-3">Delete</button>
        </td>
      </tr>
  </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="mb-3">
            <label  class="form-label">First Name</label>
            <input type="text" formControlName="firstName" class="form-control" >
          </div>
          <div class="mb-3">
            <label  class="form-label">Last Name</label>
            <input type="text" formControlName="lastName" class="form-control">
          </div>
          <div class="mb-3">
            <label  class="form-label">Email</label>
            <input type="email" formControlName="email" class="form-control" >
          </div>
          <div class="mb-3">
            <label  class="form-label">Mobile</label>
            <input type="text" formControlName="mobile" class="form-control">
          </div>
          <div class="mb-3">
            <label  class="form-label">Salary</label>
            <input type="text" formControlName="salary" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>
